
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>mail</title>
</head>

<body>
   <div id="content">
      <h:form id="messageBean">
         <!-- Instructions for the user -->
         <!-- These are bound using EL to our CDI beans -->
         <div>
            Send Confirmation Email: 
 
            <h:commandButton id="sendButton" value="Send"
               action="#{messageBean.send}"/>
         </div>
      </h:form>
   </div>
   <br style="clear: both" />
</body>
</html>